
*.pyc
__pychache__/
/__pychache__/
Configs/__pycache__/
Neural_Networks/Hexagonal/__pycache__/
Neural_Networks/Rectangular/__pycache__/
Neural_Networks/__pycache__/
SCS/__pycache__/
Tic_Tac_Toe/__pycache__/

SCS/models/*
Tic_Tac_Toe/models/*
!Tic_Tac_Toe/models/__init__.py
!SCS/models/__init__.py

SLURM/Scripts/*
!SLURM/Scripts/__init__.py

Graphs/comb/*
Graphs/sizes/*
Graphs/iterations/*
Graphs/networks/*
!Graphs/comb/__init__.py
!Graphs/sizes/__init__.py
!Graphs/iterations/__init__.py
!Graphs/networks/__init__.py

*.insyncdl
*.log

!Tic_Tac_Toe/models/best_ttt_config/
